p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
  color: red;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
  color:blue;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    font-style: italic;
    border-left: 5px solid #1F9DE5}

.right {
    float: right;
    width: 25%;
}
